@import '../../../lib/sass/styles.scss';

.button-container {
  display: flex;

  button {
    font-size: $small-font;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    padding: 8px 25px;
    background-color: transparent;
    border: 1px solid $red-color;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: white;
    transition: 0.3s ease all;
    z-index: 1;
  }

  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: $red-color;
    z-index: -1;
  }

  button:hover,
  button:focus {
    color: white;
  }

  button:hover:before,
  button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  button:active {
    transform: scale(0.9);
  }
}
