@import '../../../lib/sass/styles.scss';

.nav-scrollzaa {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;

  position: fixed;
  z-index: 5;
  right: 25px;
  top: 25px;
  // display: none;

  &:hover {
    border-color: #b7140b;
    color: #b7140b;
    transform: scale(1.3);
    transition: 0.5s;
    cursor: pointer;
  }

  @include media('<=mobile') {
    font-size: $big-font;
  }
}

.nav-scroll-btn-fixed-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}
.nav-scroll-btn-fixed-exit,
.nav-scroll-btn-fixed-enter-done {
  opacity: 1;
}
.nav-scroll-btn-fixed-active,
.nav-scroll-btn-fixed-exit-done {
  opacity: 01;
}

.nav-scroll-open-btn-fixed {
  border: none;
  &:hover {
    color: $red-color;
    transform: scale(1.3);
    transition: 0.5s;
    cursor: pointer;
  }
}

.nav-scroll-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  .nav-scroll-open-btn {
    font-size: $large-font;
    font-weight: 800;
    margin: 25px 25px 0 0;

    &:hover {
      transform: scale(1.3);
      color: $red-color;
      transition: transform 0.5s;
    }
  }

  .nav-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-link,
    .dropdown-btn-container {
      border: none;
      height: 40px;
      align-items: center;
      justify-content: center;
      width: 150px;

      &:hover {
        color: $red-color;
        cursor: pointer;
      }

      @include media('>=tablet-portrait', '<=desktop') {
        width: 100%;
      }

      span {
        line-height: 30px;
      }
    }
  }
}

.hamburger-down-dropdown {
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #292929;
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  @include media('>=mobile') {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
  }
}
