@import '../../../lib/sass/styles.scss';

.calendar-container {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;

  .calendar-content {
    position: relative;

    .year-switcher {
      @include flexCenter(row);
      width: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: yellow;
      background-color: black;
      scroll-behavior: smooth;
      z-index: 2;

      .year-list-wrapper {
        height: 75%;
        overflow: hidden;
        width: 20%;

        @include media('>=mobile', '<=tablet-landscape') {
          width: 30%;
        }

        // @include media('>=tablet-portrait', '<=tablet-landscape') {
        //   width: 40%;
        // }

        .year-list {
          height: 200px;
          overflow-y: scroll;
          scrollbar-width: none;
          width: 90%;
          margin: 0;

          &::-webkit-scrollbar {
            display: none;
          }

          .year-item {
            padding-top: 10px;
            font-size: $big-font;
            font-weight: 200;
            width: 100%;
            text-align: center;
            letter-spacing: 1px;

            &:hover {
              color: red;
              cursor: pointer;
              transform: scale(1.1);
              font-weight: 300;
              transition: all linear 0.3s;
            }

            @include media('>=mobile', '<=tablet-landscape') {
              font-size: $large-font;
              padding-top: 10px;
            }

            // @include media('>=tablet-portrait', '<=tablet-landscape') {
            //   font-size: 30px;
            //   padding-top: 12px;
            // }
          }
        }
      }
    }

    .month-switcher {
      @extend .year-switcher;
      padding-top: 3px;
      box-sizing: border-box;

      .month-list-wrapper {
        @extend .year-list-wrapper;
        width: 60%;
        height: 100%;

        .month-list {
          @extend .year-list;
          height: 100%;
          width: 100%;

          .month-item {
            @extend .year-item;
            font-size: $tiny-font;
            padding-top: 6px;

            @include media('>=mobile', '<=tablet-landscape') {
              font-size: $med-font;
              padding-top: 9px;
            }

            // @include media('>=tablet-portrait', '<=tablet-landscape') {
            //   font-size: $medder-font;
            //   padding-top: 10px;
            // }
          }
        }
      }
    }
  }

  .top {
    @include flexCenter(row);
    justify-content: space-between;
    padding: 15px 0;
    background-color: $red-color;
    font-size: $med-font;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;

    @include media('>=mobile', '<=tablet-landscape') {
      padding: 20px 0;
    }

    // @include media('>=tablet-portrait', '<=tablet-landscape') {
    //   padding: 25px 0;
    // }

    .arrow-left {
      padding-left: 10px;
      font-size: $large-font;

      &:hover {
        cursor: pointer;
      }

      @include media('>=mobile', '<=tablet-landscape') {
        font-size: 30px;
      }

      // @include media('>=tablet-portrait', '<=tablet-landscape') {
      //   font-size: 40px;
      // }
    }

    .month-and-year {
      @include media('>=mobile', '<=tablet-landscape') {
        font-size: $big-font;
      }

      // @include media('>=tablet-portrait', '<=tablet-landscape') {
      //   font-size: $large-font;
      // }

      &:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.5s linear all;
      }
    }

    .arrow-right {
      padding-right: 10px;
      font-size: $large-font;

      &:hover {
        cursor: pointer;
      }

      @include media('>=mobile', '<=tablet-landscape') {
        font-size: 30px;
      }

      // @include media('>=tablet-landscape', '<=tablet-landscape') {
      //   font-size: 40px;
      // }
    }
  }
  .week-days {
    display: grid;
    grid-template: 100% / repeat(7, 1fr);
    padding: 15px 0;
    color: black;
    background-color: white;

    @include media('>=mobile', '<=tablet-landscape') {
      padding: 20px 0;
    }

    // @include media('>=tablet-portrait', '<=tablet-landscape') {
    //   padding: 25px 0;
    // }

    .week-day {
      @include flexCenter(row);
      font-size: $small-font;
      font-weight: 300;

      @include media('>=mobile', '<=tablet-landscape') {
        font-size: $med-font;
        font-weight: 400;
      }

      // @include media('>=tablet-portrait', '<=tablet-landscape') {
      //   font-size: $medder-font;
      //   font-weight: 600;
      // }
    }
  }

  .month-days {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    color: black;
    background-color: white;
    padding-bottom: 5px;

    .day-tile {
      @include flexCenter(row);
      font-size: $tiny-font;
      font-weight: 200;
      height: 30px;

      @include media('>=mobile', '<=tablet-landscape') {
        height: 45px;
        font-size: $med-font;
        font-weight: 400;
      }

      // @include media('>=tablet-portrait', '<=tablet-landscape') {
      //   height: 65px;
      //   font-size: $big-font;
      //   font-weight: 600;
      // }
    }
  }
}

.event-type {
  &:hover {
    cursor: pointer;
  }
}

.event-type-zawody {
  background-color: red;
  position: relative;

  .event {
    position: absolute;
    width: 0.9vw;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

.current-day {
  background-color: $current-day-color;
}

.past-event {
  background-color: $past-event !important;
}

.event-type-zawody {
  background-color: $tournament-color;
  color: $events-font-color !important;
}

.event-type-seminarium {
  background-color: $seminary-color;
  color: $events-font-color !important;
}

.event-type-obóz {
  background-color: $camp-color;
  color: $events-font-color !important;
}
