@import '../../../lib/sass/styles.scss';

$border-width: 3px;

.edges {
  width: auto;
  height: auto;
  position: relative;

  &::before {
    content: '';
    height: $border-width;
    width: 60%;
    display: block;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
  }

  &::after {
    content: '';
    height: 60%;
    width: $border-width;
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .event-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: black;
    border: $border-width solid red;
    position: relative;
    background-position: center;
    background-size: contain;

    &::before {
      content: '';
      height: $border-width;
      width: 60%;
      display: block;
      background-color: black;
      position: absolute;
      top: -$border-width;
      left: 0;
      right: 0;
      margin: auto;
    }

    &::after {
      content: '';
      height: 60%;
      width: $border-width;
      display: block;
      background-color: black;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$border-width;
      margin: auto;
    }

    .vignette {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);

      .title {
        padding: 50px 25px 40px 25px;
        width: 100%;
        font-size: $big-font;
        font-weight: 800;
        letter-spacing: 0.3px;
        box-sizing: border-box;
        text-align: center;
      }

      .address {
        padding: 0 25px 20px 25px;
        width: 100%;
        text-align: start;
        box-sizing: border-box;
        font-size: $med-font;
        font-weight: 700;
      }

      .date {
        @extend .address;
      }

      .description-title {
        @extend .address;
        padding-top: 20px;
      }

      .description {
        padding: 0 25px 0 35px;
        text-align: start;
        box-sizing: border-box;
        font-size: $small-font;
        font-weight: 400;
        line-height: 1.2;
      }

      .arrows-container {
        width: 100%;
        height: auto;
        @include flexCenter(row);
        justify-content: space-between;
        padding: 30px 20px 20px 20px;
        box-sizing: border-box;

        .arrow {
          height: 25px;
          width: 25px;
          color: red;

          &:hover {
            cursor: pointer;
            color: white;
            transform: scale(1.1);
            transition: all 0.3s linear;
          }
        }
      }
    }
  }
}
