@import '../../../lib/sass/styles.scss';

.articles-container {
  @include media('>=tablet-portrait', '<=tablet-landscape') {
    height: auto;
    display: grid;
    grid-template: 50% 50% / 347px 347px;
    width: fit-content;
  }

  @include media('>=tablet-landscape', '<=desktop') {
    width: 100%;
  }

  @include media('>=tablet-landscape', '<=desktop') {
    width: 694px;
    margin: 0 auto;
  }

  .article-item-container-margin {
    width: fit-content;

    @include media('>=tablet-portrait', '<=tablet-landscape') {
      padding: 0 8px 16px 0;

      &:nth-of-type(2n) {
        padding: 0 0 16px 8px;
      }
    }

    @include media('<=tablet-portrait', '<=tablet-landscape') {
      margin-bottom: 25px;
    }
  }
}
