@use '../../../lib/sass/media-queries' as mq;
@use '../../../lib/sass/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

nav {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 60px;
  color: white;
  position: inherit;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;

  @include mq.bigger-than-mobile {
    position: fixed;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;

    .logo-container {
      margin-left: 5%;
      width: 70%;
      height: 100%;

      @include mq.tablet {
        width: 40%;
      }

      @include mq.bigger-than-tablet {
        width: 30%;
      }
    }

    .nav-links {
      margin-right: 5%;
      height: 100%;
      display: none;
      justify-content: space-evenly;
      align-items: center;

      @include mq.bigger-than-small-tablet {
        display: flex;
      }

      @include mq.tablet {
        width: 50%;
      }

      @include mq.bigger-than-tablet {
        width: 60%;
      }
    }

    .hamburger-menu-container {
      margin-right: 5%;
      width: 25%;

      @include mq.bigger-than-small-tablet {
        display: none;
      }
    }
  }
}
