@use '../../../lib/sass/media-queries' as mq;
@use '../../../lib/sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

nav {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 60px;
  color: white;
  position: inherit;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;

  .logo-container {
    width: 75%;
    height: 100%;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    z-index: 1;

    .nav-links {
      width: 57%;
      padding-right: 2%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@include mq.tablet {
  nav {
    height: 60px;
    position: fixed;

    .logo-container {
      width: 40%;
    }
  }
}

@include mq.small-desktop {
  nav {
    position: fixed;
    .logo-container {
      width: 30%;
    }
  }
}

@include mq.bigger-than-tablet {
  nav {
    height: 80px;
    position: fixed;
  }
}

@include mq.bigger-than-desktop {
  nav {
    position: fixed;
    .logo-container {
      width: 40%;
    }
    .wrapper {
      .nav-links {
        width: 60%;
        padding: 0px 100px;
      }
    }
  }
}

@include mq.small-tablet {
  nav {
    position: fixed;
    .wrapper {
      .nav-links {
        display: none;
      }
    }
  }
}

@include mq.mobile-and-tablet {
  nav {
    .wrapper {
      .nav-links {
        display: none;
      }
    }
  }
}
