@use '../../../lib/sass/variables' as v;

.dropdown-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-bottom: 2px solid v.$red-color;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    border-color: white;
    color: v.$red-color;
  }

  .nav-title {
    margin-right: 10px;
  }
}
