@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import '../../../lib/sass/styles.scss';

.dropdown-btn-container {
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // border-bottom: 2px solid $red-color;
  transition: 0.3s;

  @include media('>=tablet-portrait') {
    width: 105px;
  }

  @include media('>=tablet-landscape', '<=desktop') {
    font-size: 20px;
  }

  @include media('>=tablet-landscape') {
    width: 125px;
  }

  @include media('>=desktop') {
    font-size: 22px;
    width: 150px;
  }

  &:hover {
    cursor: pointer;
    border-color: white;
    color: $red-color;
  }

  &:hover {
    .down-dropdown {
      display: flex;
    }
  }

  .nav-title {
    margin-right: 10px;
  }
}

.down-dropdown {
  width: 100%;
  background-color: #202020;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media('>=mobile') {
    background-color: rgba(0, 0, 0, 0.2);
  }

  @include media('>=tablet-portrait') {
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @include media('>=tablet-landscape') {
    top: 80px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media('>=tablet-portrait') {
      flex-direction: row;
    }
  }

  .nav-link,
  .dropdown-btn-container {
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 250px;
  }
}
