@import '../../lib/sass/styles.scss';
.sections-page-grid-container {
  @include media('>=tablet-landscape') {
    display: grid;
    grid-template-areas: '.article-content .article-list-container';
    grid-template-rows: 100% 100%;
    grid-template-columns: 65% 35%;
    // column-gap: 10px;
  }
  .article-content {
    grid-column-start: 1;
  }

  .article-list-container {
    grid-column-start: 2;
  }
}
