@import '../../lib/sass/styles.scss';

.news-title-container {
  width: 339px;

  @include media('>=tablet-portrait') {
    width: 694px;
  }

  .news-title {
    font-size: 18px;
    text-align: left;
    font-weight: 200;
    width: 100%;
    padding: 25px 0;
    box-sizing: border-box;

    @include media('>=tablet-portrait', '<=tablet-landscape') {
      padding: 40px 0;
    }

    @include media('>=tablet-landscape', '<=desktop') {
      line-height: 30px;
      font-size: 22px;
      font-weight: 800;
      padding: 40px 0;
    }
  }
}

.page-content {
  @include media('>=desktop') {
    display: grid;
    grid-template-rows: 100% 100%;
    grid-template-columns: 65% 35%;
    // column-gap: 10px;
  }

  .article-container {
    background-color: $darker-bg-color;
    grid-column-start: 1;

    @include media('>=desktop') {
      width: 925px;
      height: 578px;
    }

    .article-title {
      width: 100%;
      height: auto;
      font-size: $large-font;
      text-align: center;
      font-weight: 600;
      box-sizing: border-box;
      padding: 25px 18px 25px 18px;
      letter-spacing: 0.3px;

      @include media('>=tablet-portrait', '<=tablet-landscape') {
        padding: 40px 18px 20px;
      }

      @include media('>=tablet-landscape', '<=desktop') {
        text-align: left;
        padding: 40px 0;
        font-size: $large-font;
      }

      @include media('>=tablet-landscape') {
        padding: 60px 0;
      }
    }

    .date-and-share-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      margin: 15px 0 10px 0;
      box-sizing: border-box;
      padding: 0 16px;

      @include media('>=tablet-portrait', '<=tablet-landscape') {
        margin: 0 0 20px 0;
      }

      @include media('>=tablet-landscape', '<=desktop') {
        padding: 0 0 20px 0;
        margin: 0;
      }

      .article-date {
        width: auto;
        font-size: 14px;
        text-align: right;
      }

      .share-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .media-icon {
          width: 20px;
          height: 20px;
          margin-left: 15px;

          @include media('>=tablet-portrait', '<=tablet-landscape') {
            width: 25px;
            height: 25px;
          }

          @include media('>=tablet-landscape', '<=desktop') {
            width: 30px;
            height: 30px;
          }

          &:hover {
            color: $red-color;
            cursor: pointer;
            transition: 0.3s;
            transform: scale(1.2);
          }
        }
      }
    }

    .article-image {
      box-sizing: border-box;
      width: 100%;
      height: 62.5%;
      padding: 0;
    }

    .article-text {
      width: 100%;
      height: auto;
      font-size: $tiny-font;
      padding: 25px 18px 25px 18px;
      box-sizing: border-box;
      text-align: left;
      letter-spacing: 0.5px;
      line-height: 15px;

      @include media('>=tablet-portrait', '<=tablet-landscape') {
        padding: 40px 25px 40px 25px;
        line-height: 19.2px;
        font-size: $med-font;
        font-weight: 600;
      }

      @include media('>=tablet-landscape', '<=desktop') {
        font-size: $big-font;
        line-height: 24px;
        padding: 25px 0;
      }
    }
  }

  .more-news-button-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .more-news-button {
      width: 200px;
      height: 35px;
      margin: 25px 0;
      box-sizing: border-box;
      border: 2px $red-color solid;
      background: transparent;
      color: white;
      font-size: $small-font;
    }
  }

  .article-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    grid-column-start: 2;

    box-sizing: border-box;
    background-color: $bg-color;

    @include media('<=mobile') {
      margin: 0 auto;
    }

    @include media('>=tablet-portrait', '<=tablet-landscape') {
      padding: 0 37px;
    }
  }
}
