@import '../../../lib/sass/styles.scss';

.sections-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-top: 40px;
  .place {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    text-align: left;
    font-size: $medder-font;
    letter-spacing: 0.5px;
    font-weight: 300;
    box-sizing: border-box;
  }

  .group-photo {
    height: 200px;
    width: 100%;
  }

  .sections-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}
