@import '../../../lib/sass/styles.scss';

.sections-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .place {
    width: 100%;
    height: auto;
    padding: 25px 0;
    text-align: center;
    font-size: $big-font;
    letter-spacing: 0.5px;
    font-weight: 800;
    box-sizing: border-box;

    @include media('>=tablet-portrait') {
      font-size: $large-font;
      padding: 40px 0;
    }
  }

  .group-photo {
    height: 62.5%;
    width: 100%;
  }

  .sections-info-container {
    @include flexCenter(column);
    height: auto;
    width: 100%;
  }
}
