@import '../../../lib/sass/styles.scss';

.hamburger-btn-container {
  display: flex;
  justify-content: flex-end;

  @include media('<=mobile') {
    font-size: $big-font;
  }

  .nav-title {
    margin-right: 10px;
    display: none;

    @include media('>=mobile', '<=tablet-portrait') {
      display: block;
    }
  }
}

.hamburger-down-dropdown {
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #292929;
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  @include media('>=mobile') {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
  }

  .nav-link,
  .dropdown-btn-container {
    border: none;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 150px;

    &:hover {
      color: $red-color;
      cursor: pointer;
    }

    @include media('>=tablet-portrait', '<=desktop') {
      width: 100%;
    }

    span {
      line-height: 30px;
    }
  }
}
