@use '../../../lib/sass/media-queries' as mq;
@use '../../../lib/sass/variables' as v;

.hamburger-btn-container {
  display: flex;
  justify-content: end;

  .nav-title {
    margin-right: 10px;
    display: none;

    @include mq.small-tablet {
      display: block;
    }
  }
}

.down-dropdown {
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #292929;
  border-top: 1px solid gray;
  width: 100%;

  @include mq.tablet {
    top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
  }

  .nav-link {
    border: none;
    height: 30px;
    align-items: center;
    justify-content: center;

    &:hover {
      color: v.$red-color;
      cursor: pointer;
    }

    @include mq.tablet {
      width: 100%;
    }

    span {
      line-height: 30px;
    }
  }
}
