@import '../../lib/sass/styles.scss';

.news-page-content {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  h1 {
    font-size: $big-font;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin: 25px 0;

    @include media('>=tablet-portrait') {
      font-size: $large-font;
      margin: 40px 0;
    }
  }

  .news-list {
    margin: 25px 0;

    @include media('>=tablet-portrait') {
      margin: 40px 0;
    }

    .articles-container {
      @include media('>=desktop') {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        width: fit-content;
        grid-gap: 40px;
        margin: 0 auto;
      }
    }

    .articles-list {
      margin: 0 auto;
    }

    .button-container {
      margin: 0 auto;
      margin-top: 25px;
    }
  }
}
