@use '../../../lib/sass/media-queries' as mq;
@use '../../../lib/sass/variables';

.down-dropdown {
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #292929;
  border-top: 1px solid gray;
  width: 100%;

  .nav-link {
    border: none;
    height: 30px;
    align-items: center;
    justify-content: center;

    span {
      line-height: 30px;
    }
  }

  .nav-link:hover {
    color: variables.$red-color;
    cursor: pointer;
  }
}

@include mq.tablet {
  .down-dropdown {
    top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;

    .nav-link {
      width: 100%;
    }
  }
}
