@import '../../lib/sass/styles.scss';

.footer {
  height: fit-content;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  section {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 20px;
    font-size: $small-font;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media('>=tablet-portrait') {
      font-size: $med-font;
    }

    .footer-info {
      display: flex;
      flex-direction: column;
    }
  }

  .formal-info {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 20px;
    font-size: $small-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .copyright {
      font-size: $tiny-font;

      @include media('>=tablet-portrait') {
        font-size: $small-font;
      }
    }

    .creator-ad {
      font-size: $tiny-font;

      @include media('>=tablet-portrait') {
        font-size: $small-font;
      }

      span {
        color: #5cb25d;
      }

      @include media('>=tablet-landscape') {
        &:hover {
          font-size: $small-font;
          cursor: pointer;
          transition: 0.5s;

          @include media('>=tablet-portrait') {
            font-size: $big-font;
          }
        }
      }
    }
  }
}
