.article-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d52323;
  margin-top: 80px;
  width: 90%;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;

  .article-item-and-date {
    width: 46%;
    margin: 5px;
    box-sizing: border-box;

    .article-item-title {
      font-size: 14px;
      text-align: center;
      font-weight: 200;
      margin: 4px 2px 8px 2px;
      box-sizing: border-box;
    }

    .article-item-date {
      width: 90%;
      font-size: 10px;
      text-align: right;
      padding: 2px;
      margin-bottom: 6px;
    }
  }

  .article-item-image {
    padding: 3px;
    box-sizing: border-box;
    width: 34%;
  }

  .strzala {
    width: 20%;
    height: 30px;
    background-color: aqua;
    margin: 10px;
    box-sizing: border-box;
  }
}
