.green-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 60%;

  button {
    background-color: #5cb25d;
    margin-right: 10px;

    &:hover {
      background-color: white;
      color: #5cb25d;
      cursor: pointer;
      border: 3px #5cb25d solid;
      box-sizing: border-box;
      transition: all 0.2s linear;
    }
  }
}
