@import '../../../lib/sass/styles.scss';

main {
  background-color: white;

  .container {
    @include flexCenter(column);
    justify-content: flex-start;
    width: 800px;
    max-width: 800px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    h1 {
      width: 100%;
      padding: 30px 0 20px 50px;
      font-size: 22px;
      font-weight: 500;
      box-sizing: border-box;
    }

    .section-tiles {
      @include flexCenter(row);
      width: 100%;
      flex-wrap: wrap;
      justify-content: start;
      margin-top: 30px;

      .add-group-tile {
        @include flexCenter(column);
        justify-content: start;
        width: 200px;
        height: 300px;
        background-color: transparent;
        border: 1px #5cb25d solid;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 0 50px 50px;

        h2 {
          margin: 0 auto;
          margin-top: 50px;
          width: 150px;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
        }

        .plus {
          margin: 0 auto;
          margin-top: 25px;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform linear 0.2s;
          }
        }
      }
    }
  }
}
