@import '../../../lib/sass/styles.scss';

.section-info {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  align-items: flex-start;

  input,
  textarea {
    width: 300px;
    height: 44px;
    border-radius: 5px;
    filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
    border: none;
  }

  // input[type='file'] {
  //   opacity: 0;
  // }

  // .file-input-container {
  //   width: 300px;
  //   height: 44px;
  //   border: 1px solid rgb(255, 255, 255);
  //   display: inline-block;
  //   border-radius: 5px;
  //   box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  //   position: relative;
  //   cursor: pointer;

  //   input {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     cursor: pointer;
  //   }

  //   p {
  //     @include flexCenter(row);
  //     // justify-content: start;
  //     // padding-left: 5px;
  //     box-sizing: border-box;
  //     height: 100%;
  //     color: rgb(138, 138, 138);
  //     width: 100%;
  //     cursor: pointer;
  //   }
  // }

  .wide-input {
    width: 500px;
  }

  textarea {
    min-height: 150px;
    min-width: 600px;
    max-width: 600px;
  }

  .info {
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
}
