@import './lib/sass/styles.scss';

body {
  font-size: 16px;
  background-color: #1d1d1d;
  color: white;

  @include media('>=tablet-portrait') {
    font-size: 22px;
  }
}

.container {
  margin: auto;
  height: 100%;
  width: 90%;

  @include media('>=tablet-portrait') {
    width: 748px;
  }

  @include media('>=tablet-landscape') {
    width: 980px;
  }

  @include media('>=desktop') {
    width: 1360px;
  }
}
