@use '../../lib/sass/media-queries' as mq;

.vignette {
  background-color: black;
  opacity: 0.2;
  width: inherit;
  height: inherit;
}

.landing {
  width: 100%;
  background-image: url('./assets/landing.jpeg');
  background-position: 0% 60%;
  background-size: cover;
  background-attachment: scroll;

  display: none;
}

@include mq.bigger-than-mobile {
  .landing {
    display: block;
    height: 70vh;
  }
}
