@use '../../../lib/sass/variables' as v;
@use '../../../lib/sass/media-queries' as mq;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.logo {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: fit-content;
  height: 100%;
  color: white;

  &:hover {
    cursor: pointer;
    #brand-name {
      color: v.$red-color;
    }
    .red-text {
      color: white;
    }
  }

  img {
    width: 40px;

    @include mq.small-desktop {
      width: 50px;
    }

    @include mq.bigger-than-desktop {
      width: 50px;
    }
  }

  .red-text {
    color: v.$red-color;
    transition: 0.5s;
  }

  #brand-name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;

    @include mq.small-desktop {
      font-size: 22px;
    }

    @include mq.bigger-than-desktop {
      font-size: 24px;
    }
  }
}
