@use '../../../lib/sass/variables';
@use '../../../lib/sass/media-queries' as mq;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.logo {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: fit-content;
  height: 100%;
  color: white;

  img {
    width: 40px;
  }

  .red-text {
    color: variables.$red-color;
    transition: 0.5s;
  }

  #brand-name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
  }
}

.logo:hover {
  cursor: pointer;
  #brand-name {
    color: variables.$red-color;
  }
  .red-text {
    color: white;
  }
}

@include mq.small-desktop {
  .logo {
    img {
      width: 50px;
    }

    #brand-name {
      font-size: 22px;
    }
  }
}

@include mq.bigger-than-desktop {
  .logo {
    img {
      width: 50px;
    }

    #brand-name {
      font-size: 24px;
    }
  }
}
