@import '../../../lib/sass/styles.scss';

.instructors-page {
  width: 100%;
  height: auto;
  font-size: $med-font;
  font-weight: 400;
  padding: 25px 18px;
  box-sizing: border-box;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: justify;

  @include media('>=tablet-portrait', '<=tablet-landscape') {
    padding: 40px 25px;
    line-height: 19.2px;
    font-size: $med-font;
    letter-spacing: 1px;
  }

  @include media('>=tablet-landscape') {
    font-size: $medder-font;
    line-height: 26px;
    padding: 25px 0;
    letter-spacing: 1px;
  }

  h1 {
    padding: 25px 0;
    width: 100%;
    text-align: center;
    font-size: $big-font;
    font-weight: 800;
    letter-spacing: 1px;

    @include media('>=tablet-portrait') {
      font-size: $large-font;
      padding: 40px 0;
    }
  }

  h2 {
    font-size: $medder-font;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;

    @include media('>=tablet-portrait') {
      font-size: $big-font;
    }
  }

  .container {
    @include media('>=desktop') {
      width: auto;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

    @include media('>=mobile') {
      float: right;
      max-width: 40%;
      margin-left: 20px;
    }
  }

  .Collapsible svg {
    stroke-width: 1.5;
  }

  .Collapsible__trigger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;

    h2 {
      text-align: left;
      margin-left: 10%;
      margin-bottom: 0;
    }

    @include media('>tablet-portrait') {
      max-width: 400px;
      margin: 0 auto;
    }

    @include media('>tablet-landscape') {
      &:hover {
        color: $red-color;
        cursor: pointer;
        transition: 0.5s;
      }
    }
  }

  .Collapsible__trigger.is-open {
    svg {
      transform: rotate(0deg);
      transition: 0.5s;
    }
  }

  .Collapsible__trigger.is-closed svg {
    transform: rotate(-90deg);
    transition: 0.3s;
  }
}
